{% extends "base.html" %}

{% block title %}<title>A viagem de Chihiro</title>{% endblock %}

{% block content %}

    <div class="container-fluid" id="resumo"> 
            <div class="row">
              <div class="col">
                <div class="h1">
                    A viagem de Chihiro
                </div>
                    <div class="h2">
                        animação japonês dirigido por Hayao Miyazaki 
                    </div>
                    <div class="conteudo">
                        <div class="h3">
                            <p>uma garota chamada Chihiro, que acaba entrando em um mundo mágico</p>
                            <p> repleto de espíritos e criaturas misteriosas após seus pais serem transformados </p>
                            <p>em porcos. Ela precisa encontrar uma maneira de resgatá-los e, ao mesmo  </p>
                            <p>tempo, descobrir sua própria coragem e identidade.</p>
                        </div>
                    </div>
                 
              </div>
            </div>
          </div>
<div class="container-fluid" id="historia">
    <div class="container">
        <div class="row">
            <div class="col">
              <div class="conteudo"> 
              <div class="h1">
                  Sinopse
              </div>
                  <div class="h2">
                      animação japonês dirigido por Hayao Miyazaki 
                  </div>
                  
                      <div class="h4">
                        <p class="text-sm text-md text-lg text-xl">O filme conta a história de Chihiro, uma menina de dez anos que, ao se mudar com seus pais para uma nova cidade, se depara com um mundo mágico cheio de espíritos e criaturas fantásticas. Quando seus pais são transformados em porcos após se aventurarem em um estranho túnel, Chihiro se vê sozinha em um lugar desconhecido. 

                        Determinada a encontrar uma maneira de salvar seus pais e retornar ao mundo humano, Chihiro começa a trabalhar em uma casa de banhos para espíritos, onde conhece uma variedade de personagens peculiares. Durante sua jornada, ela encontra Haku, um misterioso jovem que a ajuda e a guia através das muitas provações que ela enfrenta.
                  
                     
                        Ao longo do filme, Chihiro passa por uma jornada de autodescoberta, aprendendo a superar seus medos e a confiar em si mesma. Ela encontra coragem, determinação e compaixão enquanto enfrenta desafios cada vez maiores.

                  
                        </p>
                      </div>
                  </div>
               
            </div>
          </div>
    </div>
    <div class="container-fluid" id="imagem">
      <img srcset="/static/img/chihiro.jpg 200w, /static/img/chihiro.jpg 500w"
      sizes="(max-width: 600px) 150px, 400px" alt="chihiro" class="img-fluid d-none d-md-block">
    </div>
   </div>

    <div class="container-fluid " id="personagens"> <!--CONTAINER DOS CARDS-->
        <div class="h1">Personagens</div>

        <div class="row c-2"> <!--CARD-->
            <div class="col">
              <div class="card h-100">
                <img src="/static/img/chihi.jpg" class="card-img-top" alt="Chihiro">
                <div class="card-body">
                  <h5 class="card-title">Chihiro Ogino</h5>
                  <p class="card-text">Chihiro é uma menina de dez anos que tem cabelos castanhos, olhos castanhos e bochechas rosadas.
                    O crescimento de Chihiro em um indivíduo capaz é um fator central para o movimento da trama
                  </P>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Protagonista</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/static/img/pais.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Akio Ogino e Yuko Ogino</h5>
                  <p class="card-text">Akio Ogino é retratado como confiante e corajoso na introdução do filme. Enquanto isso, Yuko é calma e lógica, resistindo às travessuras de seu marido e priorizando a segurança. No entanto, ela cede rapidamente à aventura de Akiichirō, resultando na transformação de ambos em porcos por grande parte do filme. </p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="/static/img/gama.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Kamajī</h5>
                  <p class="card-text">Aparentemente frio e indiferente no início, o personagem de Kamaji evolui. No final do filme, ele parece ter um ponto fraco para Chihiro, e para qualquer um que ela chame de amigo.</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card h-100">
                  <img src="/static/img/amg.jpg" class="card-img-top" alt="Chihiro">
                  <div class="card-body">
                    <h5 class="card-title">Lin</h5>
                    <p class="card-text"> 
                    Lin é muito forte, teimosa e ocasionalmente mandona. Embora ela tenha um bom coração e se importe com Chihiro, ela é rápida para ir para a defensiva, e sua atitude e palavras são muitas vezes sarcásticas.
                    </P>
                  </div>
                  <div class="card-footer">
                    <small class="text-body-secondary">Protagonista</small>
                  </div>
                </div>
              </div>
             
              
          </div>
          <!-- PARTE DOIS DOS CARDS -->
          <div class="row c-2">
  
            <div class="col">
                <div class="card h-100">
                  <img src="/static/img/Haku.jpg" class="card-img-top" alt="Chihiro">
                  <div class="card-body">
                    <h5 class="card-title">Haku</h5>
                    <p class="card-text">Haku, dotado de habilidades aquáticas sobrenaturais, demonstra sagacidade e flexibilidade em várias situações. Seu afeto por Chihiro o leva a arriscar tudo para garantir sua segurança, desde o início até o desenlace da narrativa.
                    </P>
                  </div>
                  <div class="card-footer">
                    <small class="text-body-secondary">Protagonista</small>
                  </div>
                </div>
              </div>
                <div class="col">
                    <div class="card h-100">
                      <img src="/static/img/irma1.jpg" class="card-img-top" alt="Chihiro">
                      <div class="card-body">
                        <h5 class="card-title">Haku</h5>
                        <p class="card-text">Haku, dotado de habilidades aquáticas sobrenaturais, demonstra sagacidade e flexibilidade em várias situações. Seu afeto por Chihiro o leva a arriscar tudo para garantir sua segurança, desde o início até o desenlace da narrativa.
                        </P>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Protagonista</small>
                      </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                      <img src="/static/img/irma2.jpg" class="card-img-top" alt="Chihiro">
                      <div class="card-body">
                        <h5 class="card-title">Haku</h5>
                        <p class="card-text">Haku, dotado de habilidades aquáticas sobrenaturais, demonstra sagacidade e flexibilidade em várias situações. Seu afeto por Chihiro o leva a arriscar tudo para garantir sua segurança, desde o início até o desenlace da narrativa.
                        </P>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Protagonista</small>
                      </div>
                    </div>
                </div>  
                <div class="col">
                    <div class="card h-100">
                      <img src="/static/img/caras.jpg" class="card-img-top" alt="Chihiro">
                      <div class="card-body">
                        <h5 class="card-title">Haku</h5>
                        <p class="card-text">Haku, dotado de habilidades aquáticas sobrenaturais, demonstra sagacidade e flexibilidade em várias situações. Seu afeto por Chihiro o leva a arriscar tudo para garantir sua segurança, desde o início até o desenlace da narrativa.
                        </P>
                      </div>
                      <div class="card-footer">
                        <small class="text-body-secondary">Protagonista</small>
                      </div>
                    </div>
                </div>  
          </div>
    </div>

    <div class="container-fluid" id="contato">
      <div class="h1">Contato</div>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form>
              <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="form-group">
                <label for="comentario">Comentário:</label>
                <textarea class="form-control" id="comentario" name="comentario" rows="4" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
              <a href="#inicio" class="btn btn-secondary">Ir para o início</a>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock %}